# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/

# Packaging
.eggs/
*.egg-info/
build/
dist/

# Tooling
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Environment
.env
*.db

# Editors
.idea/
.vscode/
